@import "../base/variables";

@mixin navItem() {
    color: white !important;
    opacity: .7;
    font-weight: 500;
    transition: .2s;

    &:hover {
        opacity: 1;
    }
}

@mixin divider($isSecondary: false) {
    @if ($isSecondary) {
        background-color: $white;
    } @else {
        background-color: $color-primary;
    }
}