#intro-section {
    margin-top: -56px;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg');

    .intro {
        &__header {
            font-size: 56px;
        }

        &__text {
            font-size: 18px;
        }
    }
}

.contact-item {
    &__icon {
        font-size: 48px;
    }
}